body{
    background-color: rgba(0, 255, 200, 0.767);
}
#barraMenu{
    background-color: teal;
}

#barraMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#barraMenu ul li{
    display: inline-block;
}
.derecha{
    float: right;
}
#barraMenu ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px;
}
#barraMenu ul li a:hover{
    background-color: white;
    color: teal;
}